soap-service/api/src/demo/resources/demo.wsdl

<wsdl:definitions
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://mebank.com.au/service"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  name="DemoService" targetNamespace="http://mebank.com.au/service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mebank.com.au/service"
      targetNamespace="http://mebank.com.au/service" version="1.0">
      <xs:element name="DemoRequest" type="tns:demoRequest"/>
      <xs:element name="DemoResponse" type="tns:demoResponse"/>
      <xs:complexType final="extension restriction" name="demoRequest">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType final="extension restriction" name="demoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part name="response" type="tns:demoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part name="request" type="tns:demoRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DemoService">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello"></wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DemoServiceSoapBinding" type="tns:DemoService">
    <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="sayHello">
        <soap12:body namespace="http://mebank.com.au/service" use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap12:body namespace="http://mebank.com.au/service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoService">
    <wsdl:port binding="tns:DemoServiceSoapBinding" name="DemoServicePort">
      <soap12:address location="http://localhost:8092/service/demo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>